/* @import 'node_modules/font-awesome/scss/font-awesome' */

.return-btn:hover {
    background-color: rgb(26, 23, 23);
    border-width: 0 0 4px 2px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    color: white;
}
.return-btn {
    background-color: transparent;
    border-width: 0 0 4px 2px;
    border-radius: 5px;
    border-color: rgb(26, 23, 23);
    border-style: solid;
    color: rgb(26, 23, 23);
}

.container {
    max-width: 100%;
    width: 100%;
}
main {
    max-width: 1150px;
    margin: auto;
}
.topics-list-header > * {
    margin: auto 0;
}
.topics-list-header {
    display: flex;
    justify-content: space-between;
}
.topics-list-container {
    margin-top: 15px;
}
.topic-item.icon {
    margin-right: 5px;
}
.topics-creation > .head,
.topics-details > .head {
    display: flex;
    justify-content: space-between;
}
.head > a {
    margin: auto 0;
}
.topics-creation label {
    width: 100%;
}
.topics-creation label:after {
    margin-top: 10px;
}
.collapsible.popout {
    margin-top: 20px
}
.collapsible.popout li {
    margin-bottom: 10px
}
.collapsible.popout li:last-of-type {
    margin-bottom: 0px
}
.collapsible-header {
    display: flex;
    justify-content: space-between;
}
.collapsible-header.own {
    background-color: green;
    color: white;
}
.collapsible-header.active .action-list {
    display: block;
}
.collapsible-header .action-list {
    display: none;
}
.collapsible-header .btn-floating:first-of-type{
    margin-right: 10px;
}
.collapsible-header .btn-floating i {
    margin: auto;
}
#sing_in_dropdown, #sing_out_dropdown {
    padding-top: 10px;
}
#sing_in_dropdown, #sing_out_dropdown,
#sing_in_dropdown > li, #sing_out_dropdown > li {
    width: auto !important;
}
#sing_in_dropdown > li > a, #sing_out_dropdown > li > a {
    width: 200px;
    color: white;
}
.topics-details .collapsible {width: 100%}
.topics-details .collapsible-header .material-icons {margin-right: 25px}
#topic-comment-block .cb-head {
    display: flex;
    justify-content: space-between;
    height: 45px;
    background-color: #f05423;
    padding-left: 20px;
    padding-right: 20px;
}

.cb-head > span {
    margin: auto  0px;
    color: rgb(26, 23, 23);
    font-weight: bold;
}
.cb-head > span:first-of-type {
    font-size: 18px;
}
.cb-head > span:last-of-type {
    font-size: 10px;
}
.cb-body .c-head {
    background-color: rgb(69, 54, 53);
    color: rgb(238, 238, 238);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.cb-body .c-body {
    padding: 10px;
    border-bottom: black solid 2px;
}
.autor-name {
    font-weight: bold;
}